.bg-transparent{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size:1000% 1000%;
    background-repeat: no-repeat;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#my{
    display: block;
    width: 20%;
    height: 20%;
    margin:auto;
    border-radius: 50%;
    margin-bottom: 20px;
}
#home{
    margin-top: 15%;
    margin-bottom: 10%;
}

.fade-in1{
    animation: fadeIn1 8s;
}

@keyframes fadeIn1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
em{
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(50px);
    display: inline-block;
}
em.fadeMe{
    opacity: 1;
    transform: translateY(0px);
}


a i:hover{
    color:blueviolet;
}
.light-me{
    opacity: 1;
    /*height: 500px;*/
    height: 50%;
}
.fixMe{
    width: 20%;
    height: 35vh;
    margin: auto;
    display: block;
}
/*cursor*/
h3 .txt {
    border-right: 0.08rem solid white;
}
.childFlex{
    width: 20%;
    height: auto;
}
.opacity:hover{
    opacity: 0.5;
    box-shadow: 1px 2px 20px rgb(0,0,0,0.9);
}
.opacity{
    width: 100%;
    height: 100%;
}
.sizeMe{
    width: 50%;
    margin-left: 11.7%;
}
input{
    width: 50% !important;
}
textarea{
    width: 50% !important;
}
.form-group{
    width: 90%;
    margin:auto;
}
.mov{
    margin-left: 11.5%;
}
footer{
    background-color: black;
    height: 150px;
}
.fa{
    color: lightblue;
}
.mmov{
    padding-right: 8%;
}